div#présentation{
    text-align:center; /* center allows to center the text on the web page */
    }
div#personalprofil{  
    text-align:left;  /* left allows to put the text on the left */
}
div#educationandtraining{ 
    text-align:left;
}
div#workexperience{
    text-align:left;

}