div#menu{
    text-align:center;
    background-color:gray;
    widows:1920px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    height:100px;
    

}
div#contacter{
    widows:1920px;
    height:100px;
    background-color:gray;
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;    
} 

