#présentation{
    text-align:center; 
    }
#personalprofil{  
    text-align:left; 
}
#educationandtraining{ 
    text-align:left;
}
#workexperience{
    text-align:left;
}
#menu{
    background-color:black;
    width:1430px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    height:50px;
} 
#menu1{
    text-align: left;
} 
#contacter {
    text-align: right;
    color: black;
}
#présentation{
    text-align:center;              
    font-size: 16px;
    margin: 5%;
}
#expérienceprofessionnelles{  
    text-align:center;             
    font-size: 16px;
}
#formations{ 
    text-align:center;
    font-size: 16px;
    display:flex;                   
    justify-content:center;         
    flex-direction:column;
}
#compétences{
    text-align:center;
    font-size: 16px;               
    display:flex;
    justify-content:center;
    flex-direction:column;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:gray;
    
    
}

li  
{
    float: left;
    margin-left: 25%;
}

li a 
{
    display: block;
    color:white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none; 
}

