#présentation{
    text-align:center; 
    }
#personalprofil{  
    text-align:left; 
}
#educationandtraining{ 
    text-align:left;
}
#workexperience{
    text-align:left;
}
#menu{
    background-color:black;
    widows:1920px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    height:50px;
} 
#menu1{
    text-align: left;
} 
#contacter {
    text-align: right;
    color: white;
}
#présentation{
    text-align:center;              
    font-size: 16px;
    margin: 5%;
}
#expérienceprofessionnelles{  
    text-align:center;             
    font-size: 16px;
}
#formations{ 
    text-align:center;
    font-size: 16px;
    display:flex;                   
    justify-content:center;         
    flex-direction:column;
}
#compétences{
    text-align:center;
    font-size: 16px;               
    display:flex;
    justify-content:center;
    flex-direction:column;
    
}
#cv{
    border:1px solid black;     
}

